fastapi
uvicorn
pydantic
pydantic-settings

langchain
langchain-groq
langgraph

chromadb
pinecone-client

tavily-python

sqlalchemy
asyncpg
alembic
psycopg2
contextvars

pytest
pytest-asyncio
httpx

loguru
sentry-sdk

python-jose
passlib
bcrypt
slowapi

python-dotenv
psycopg2-binary